	/* 메뉴 */
 	#menu ul li a{
		font : bold 12px "돋음", Gulim ; 
		color :#6E6E6E; 
		border-bottom : 1px dotted #848484;
		display : inline-block;
		width : 130px;
		height : 25px;
		//background : yellow;
		line-height : 25px;
	}
	.arrow{
		vertical-align:middle;
		width : 6px;
	}
	/* 메뉴 */

	/* footer css */
	#footer {clear:both;background:#42464d; padding-top:10px; padding-bottom:10px; margin-top:60px;}
	#footer .address {font-style:normal; color:#ababb1; margin-bottom:20px;}
	#footer .address .title {font-size:14px; margin-bottom:8px; color:#fff;}
	#footer  .copyright {color:#fff;}

	/* paging */	
	.paging {
		padding-top:30px; 
		text-align:center;
	}
	.paging{
		padding-top:30px; 
		text-align:center;
	}
	.paging a{
		margin:2px; 
		padding:10px; 
		border:1px solid #e0e0e0;
	}
	.paging a.active {
		background:#007dc6; 
		color:#fff;
	}
	.paging .btn_write {
		background:#BDBDBD; 
		padding:10px 16px; 
		color:#fff; 
		float:right;
	}
	.paging_center {
		padding-top:30px; 
		text-align:center;
	}
	.paging_center .btn_write {
		background:#BDBDBD; 
		padding:10px 16px; 
		color:#fff; 
	}	
	
	.paging_center .btn_button_type{
		font-size : 10.5px;
		border:0;
		background:#BDBDBD; 
		color:#fff; 
		height:31px;
		width:60px;
		
	}	
	
/* 입력상자 textarea*/
	.board_textarea_H270{
		width:590px;
		height:270px;
		resize: none;
		padding:5px;
		font-size:12px;
		border:1px solid #ccc;
		text-align:left;
		color :#848484; 
	}	
	.board_textarea_H270_noBorder{
		width:100%;
		height:270px;
		resize: none;
		padding:5px;
		font-size:11px;
		border:0px solid #fff;
		text-align:left;
		color :#848484; 
	}
/* 입력상자 text*/
.input_40px {width:40px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
.input_50px {width:50px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
.input_80px {width:80px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
.input_100px {width:100px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
.input_150px {width:150px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
.input_200px {width:200px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
.input_400px {width:400px;height:15px;font-size:11px;color :#848484;border:1px solid #ccc;}	
	
	
	
